<h2 id="title">Welcome to Ember</h2>

<FloatLabel>
  <Input @type="text" @value={{this.name}} @placeholder="Name" />
</FloatLabel>

<FloatLabel>
  <Textarea @value={{this.notes}} @placeholder="Notes" />
</FloatLabel>
